body {
  margin: 0;
  padding: 0;
}
.main-content {
  width: 367px;
}

.box-style {
  background-color: #0e91a1;
  border: 5px solid #7dce94;
  height: 89px;
  width: 352px;
  margin: 4px;
  padding: 22px 16px;
}

.middle-box {
  margin: 16px 4px;
}

.text-in-box {
  color: #056;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  margin: 0;
}
