<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Prgrammer Fox Club</title>
</head>
<body>
<ul>
    <li><a href="#">Information</a></li>
    <li><a href="nutritionStore.html">Nutrition Store</a></li>
    <li><a href="trickCenter.html">Trick Center</a></li>
</ul>
<img src="greenfox.png"/>
<p>This is <span th:text="${fox.name}">Mr. Fox.</span> Currently living on <span th:text="${fox.food}">pizza</span> and <span th:text="${fox.drink}">lemonade</span>. He knows <span th:text="${fox.tricks.list.size()}">2</span> tricks.</p>
<h1>Known tricks</h1>
<ul th:if="${not #lists.isEmpty(fox.tricks.list)}" th:each="trick : ${fox.tricks.list}">
    <li th:text="${trick.name}">write HTML</li>
</ul>
<p th:if="${#lists.isEmpty(fox.tricks)}">Your fox knows no tricks yet.</p>
</body>
</html>