<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Nutrition Store</title>
</head>
<body>
    <ul>
        <li><a href="#">Information</a></li>
        <li><a href="#">Nutrition Store</a></li>
    </ul>
    <form>
        Food
        <select name="food">
            <option value="salad">salad</option>
            <option value="pizza">pizza</option>
            <option value="foxfood">fox food</option>
        </select>
        Drink
        <select name="drink">
            <option value="water">water</option>
            <option value="coke">coke</option>
            <option value="beer">beer</option>
        </select>
    </form>
</body>
</html>